/* Ocultamos los accesos a los links ligados a de la tienda */
.header-cart, .topbar-link {
  display: none !important;
}

form {
  padding: 5% !important;
}

.ant-select-selection, .ant-input, .ant-btn {
  height: 66px !important;
  font-size: 25px !important;
}
.ant-btn {
  background: #4F81D0 !important;
  color: #FFFFFF !important;
}
.ant-select-selection__rendered {
  line-height: 66px !important;
}

.puerta-puerta span{
  font-size: 25px;
}

.ant-checkbox-inner {
  width: 32px !important;
  height: 32px !important;
}

.ant-checkbox-inner::after {
  top: 45% !important;
  left: 26% !important;
  width: 10 !important;
  height: 16.142857px !important;
}

.ant-select-selection:focus,
.ant-select-selection:hover,
.ant-input:hover,
.ant-input:focus {
  border-color: #5181cf !important;
}

.ant-btn:hover, .ant-btn:focus {
  /* color: #5181cf !important; */
  border-color: #5181cf !important;
}

.precio {
  font-size: 25px;
  color: #636363;
  font-weight: bold;
}

.ant-badge-count {
  font-size: 25px !important;
  height: 34px !important;
  line-height: 34px !important;
}

.col-precio {
  padding-top: 10px;
}

.imagen-modelo {
  display: block;
  margin: auto;
  border: 3px solid #d9d9d9;
  border-radius: 8px;
}

.precio-badge .ant-badge-count {
  background-color: #52c41a;
}